.center {
  margin: auto;
  width: 80%;
  border: 3px solid #FF00FF;
  padding: 10px;
}

#page {
  border:1px solid purple;
  width:755px;
  margin:0 auto;
  padding:5px;
  text-align:left;
}

div {
  text-align:center;
}

#header {
  border:2px solid red;
  width:750px;
  height:60px;
}

#menu {
  border:2px solid green;
  width:200px;
  float:left;
  margin:10px 0 10px 5px;
  height:650px;
}

#content {
  border:2px solid blue;
  width:500px;
  margin:10px 0 10px 235px;
  min-height:500px;
  _height:500px
}

#footer {
  border:2px solid red;
  width:750px;
  height:150px;
}

body { background-color: #ffe6e6;
     font-family: Verdana, Arial, sans-serif; }

p {
    font-weight: bold;
}

a:visited {
    color: forestgreen;
    text-decoration-color: hotpink;
  }


  @media all and (max-width: 768px) {
  /* For mobile phones: */
  body {
    width: 100%;
    height:  100%;
    margin: auto;
    text-align:center;
    background-color: lightgreen;
  }

#page {
    width: 100%;
    height:  100%;
    text-align:center;
    margin: auto;
  }

  #header {
    width: 100%;
    height:  100%;
    text-align:center;
    margin: auto;
    background: orange;
  }

  #menu {
    width: 100%;
    height:  100%;
    text-align:center;
    margin: auto;
  }

  #content {
    width: 100%;
    height:  100%;
    text-align:center;
    margin: auto;
  }
  #footer {
    width: 100%;
    height:  100%;
    text-align:center;
    margin: auto;
  }
}